<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.messanger" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".CreateMessageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReceiveMessageActivity"
            android:label="@string/title_activity_receive_message" >
        </activity>
    </application>

</manifest>

<!-- In activity, name is the class name of format "activity_class_name. Is mandatory -->
<!-- label is optional but android studio puts it in for us -->
<!-- for class name a "." is present because android studio combines the class name withthe package
    to made a fully qualified class name -->
<!-- Label is there to give a user friendy label to the activity -->